.settings-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #333333;
  color: #ffffff;
  border: 2px solid #007bff;
  border-radius: 5px;.app-nav-bar,
.app-settings-bar {
  flex: 1; /* Added */
  display: flex; /* Added */
  flex-direction: column; /* Added */
  height: 80vh;
  width: 80vh;
}

.app-nav-view {
  flex: 1 1 auto;
}
  height: 40%;
}

.settings-bar-heading {
  margin: 0;
  font-size: 20px;
  color: #007bff;
  padding: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 80%;
  height: 80%;
}

label {
  margin-right: 10px;
}

input[type="number"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;

}

.save-button {
  width: 80%;
  height: 70%;
}



input{
  background-color: #333333;
  color: #ffffff;
  height: 50%;
}
#width-input{
  width: 80%;
}
