.addBtn{
  height: 30%;
  margin-top: 20%;
}

.fileNameIn{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
  height: 100px;
  //cccccc
  //background-color: #cccccc;


}


.inLbl{
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.inputField{
  background-color: #cccccc;
}
