.container {
  display: flex;
  height: 100vh;
}

.left-column {
  flex: 0 0 50%;
  padding: 10px;
  background-color: #333333;
  color: #f5f5f5;
  border: 2px solid #007bff;
  border-radius: 5px;
  margin-right: 10px;
  height: 90%;
}

.right-column {
  flex: 1 1 auto;
  padding: 10px;
  background-color: #333333;
  color: #f5f5f5;
  border: 2px solid #007bff;
  border-radius: 5px;
  height: 90%;
}

