.button-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px;
  padding-top: 20px;
  height: 35vh;
}

.button-container button {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.button-container button:hover {
  background-color: #0056b3;
}

.nav-bar-container {
  width: fit-content;
  width: 100%;
}

.nav-bar-outline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #007bff;
  border-radius: 5px;
}

.nav-bar-content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.nav-bar-content h2 {
  margin: 0;
  font-size: 20px;
  color: #007bff;
  padding: 10px;
}

.nav-button{
  width: 100%;
  height: 100%;
}
